<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="idv.david.foodgodapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--開啟外部相機功能-->
    <!--<uses-feature android:name="android.hardware.Camera"/>-->
    <!-- <meta-data -->
    <!-- android:name="com.google.android." -->
    <!-- android:value="@integer/google_play_services_version" /> -->
    <!-- <meta-data -->
    <!-- android:name="com.google.android.geo.API_KEY" -->
    <!-- android:value="AIzaSyAL8zuUrISDl-2x14vLtz3LQqkHiXUFEVo" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".CustomerServiceActivity"
            android:label="@string/stringCustomerService"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity
            android:name=".ForumActivity"
            android:label="@string/stringForum"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity
            android:name=".LivesActivity"
            android:label="@string/stringLives"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity
            android:name=".MallActivity"
            android:label="@string/stringMall"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity
            android:name=".MemberActivity"
            android:label="@string/stringMember"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity
            android:name=".NewsActivity"
            android:label="@string/stringNews"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity
            android:name=".OrderActivity"
            android:label="@string/stringOrder"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"/>
        <activity
            android:name=".LoginActivity"
            android:label="@string/stringLoginM"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"></activity>
    </application>

</manifest>